version: 2.1
jobs:

  github-release:
    docker:
    - image: cibuilds/github:0.10
    steps:
      - checkout
      - run:
          name: "Publish Release on GitHub"
          command: |
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -b "`awk '/##.*/{n++;next};n==1;n==2{exit}' CHANGELOG.md`" -delete ${CIRCLE_TAG} ./CHANGELOG.md

  tests:
    docker:
    - image: node:20-alpine
    steps:
      - checkout
      - run: npm install
      - run: npm run test

workflows:
  version: 2
  default:
    jobs:
      - tests
      - github-release:
          context: github
          filters:
            tags:
              only: /^v\d+\.\d+\..*/
            branches:
              ignore: /.*/
